# Dirs
/*
!/.config
/.config/*

# Files
!/.gitignore
!/.gitconfig
!/.tmux.conf

## Dirs
!/.config/fish
/.config/fish/*

!/.config/nvim
/.config/nvim/*

!/.config/mpv
/.config/mpv/*

### Dirs
!/.config/nvim/lua
/.config/nvim/lua/*
!/.config/nvim/after
/.config/nvim/after/*
!/.config/nvim/queries
/.config/nvim/queries/*

!/.config/mpv/scripts
/.config/mpv/scripts/*

### Files
!/.config/nvim/init.lua

!/.config/fish/config.fish
!/.config/fish/fish_plugins

!/.config/mpv/input.conf
!/.config/mpv/mpv.conf

#### Dirs
!/.config/nvim/after/plugin
/.config/nvim/after/plugin/*
!/.config/nvim/queries/func
/.config/nvim/queries/func/*

#### Files
!/.config/nvim/lua/base.lua
!/.config/nvim/lua/maps.lua
!/.config/nvim/lua/plugins.lua
!/.config/mpv/scripts/autoload.lua

##### Files
!/.config/nvim/after/plugin/cmp.rc.lua
!/.config/nvim/after/plugin/lsp-config.rc.lua
!/.config/nvim/after/plugin/telescope.rc.lua
!/.config/nvim/after/plugin/tokyonight.rc.lua
!/.config/nvim/after/plugin/treesitter.rc.lua
!/.config/nvim/after/plugin/web-devicons.rc.lua
!/.config/nvim/after/plugin/copilot.rc.lua
!/.config/nvim/queries/func/highlights.scm
