# Ignore everything (dirs, files, sub-dirs, sub-files)
/*

# But do not ignore these files...
!/.gitignore
!/.gitconfig
!/.vimrc

# Do not ignore .config folder
!/.config
# ... but ignore files and dirs in the .config directory
/.config/*

# Do not ignore fish and nvim directory
!/.config/fish
!/.config/nvim
# ... but ignore files and dirs in the each directory
/.config/fish/*
/.config/nvim/*

# Do not ignore these files
!/.config/fish/config.fish
!/.config/nvim/init.lua

# Do not ignore lua directory
!/.config/nvim/lua

# ... but ignore all files and dirs in the lua directory
/.config/nvim/lua/*

# ... except those files
!/.config/nvim/lua/base.lua
!/.config/nvim/lua/highlights.lua
!/.config/nvim/lua/maps.lua
!/.config/nvim/lua/plugins.lua
